
/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.icon {
    font-size: 0.8rem; 
     margin-right: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

li {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}


/* Efeitos no hover */
a:hover {
    color: #007BFF; /* Muda a cor ao passar o mouse */
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Mobile S - até 320px */
@media (max-width: 320px) {
    .container {
        max-width: 380px; 
        padding: 10px;
        margin-top: 80px;
    }
    .icon {
        font-size: 1rem;
    }
}

/* Mobile M - até 375px */
@media (max-width: 375px) {
    .container {
        max-width: 330px; /* Ajuste para smartphones médios */
        padding: 12px;
        margin-top: 80px;
    }
    .icon {
        font-size: 1.75rem;
    }
}

/* Mobile L - até 425px */
@media (max-width: 425px) {
    .container {
        max-width: 380px; /* Largura aumentada para smartphones grandes */
        padding: 15px;
        margin-top: 80px;
    }
    .icon {
        font-size: 2rem;
    }
}

/* Tablet - até 768px */
@media (max-width: 768px) {
    .container {
        max-width: 600px; /* Mais espaço para tablets */
        padding: 20px;
        margin-top: 80px;
    }
    .icon {
        font-size: 2.25rem;
    }
}

/* Laptop - até 1024px */
@media (max-width: 1024px) {
    .container {
        max-width: 700px; /* Para laptops menores */
        padding: 25px;
        margin-top: 80px;
    }
    .icon {
        font-size: 2.5rem;
    }
}

/* Laptop L - até 1440px */
@media (max-width: 1440px) {
    .container {
        max-width: 900px; /* Mais largura para laptops grandes */
        padding: 30px;
        margin-top: 80px;
    }
    .icon {
        font-size: 2.75rem;
    }
}
